* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(37, 37, 37);
    position: relative;
}

/* Prevent background scroll when modal is open */
body.modal-open {
    overflow: hidden;
}