:root {
    --mcmaster-maroon: #7A003C;
}

main {
    display: flex;
    margin-top: 80px;
    align-items: center;
    height: calc(100vh - 80px);
    justify-content: space-evenly;
}

.hero-section {
    min-width: 400px;
    }

.logo-title-holder {
    height: 80px;
    margin-bottom: 20px;
}

.hero-section .logo-big {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-section .subtitle {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.hero-section p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 600px;
}

.read-btn {
    padding: 12px 36px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: var(--mcmaster-maroon);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}   

.read-btn:hover {
    background-color: #8f0047;
    transition: background-color 0.3s;
}

.graphic {
    height: 45vh;
    border-radius: 50px;
    overflow: hidden;
    width: 500px;
}

.web-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 1450px) {
    .graphic {
        height: 50vh;
        border-radius: 50px;
        overflow: hidden;
        width: 700px;
    }
}