main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    margin-top: 120px;
    width: 550px;
}

.subtitle .subtilte-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.available-sessions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 800px;
    align-items: center;
}

.sessions-card {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(46, 46, 46);
    width: 700px;
}

.sessions-card:hover {
    box-shadow: 0 0 5px rgb(241, 241, 241);
    transition: 0.3s;
}

.join-btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #7A003C;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #9C004F;
    transition: 0.3s;
}